html,
body {
background: $brand-primary;
-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}


.container {
    position:relative;
    height: 100%;
    height: 100vh;
}


.lead {
    width: 75%;
    width: 75vw;
    max-width: 800px;
    @include media($bp-tablet-up) {
        float: left;
        width:45%;
        width: 45vw;
    }
  @include media($bp-desktop-up) {
    width:50%;
    width: 50vw;
  }
}

.lead img {
    width: 100%;
}

.lead span {
font-weight: $font-weight-light;
margin-top: 10vh;
display: block;
@include media($bp-tablet-up) {

    }
}

.lead span h1 {
font-weight: $font-weight-light;
font-size:  30px;
line-height: 1.1;
display: inline;
    @include media($bp-tablet-up) {
    font-size:  35px;
    line-height: 1.1;
    }
     @include media($bp-desktop-up) {
    font-size:  40px;
    line-height: 1.1;
    }
}

.contact {
    font-size: 18px;
    color: $brand-secondary;
    font-weight: $font-weight-normal;
    display: block;
    line-height: 1.8;
    margin-top: 25px;
     @include media($bp-tablet-up) {
        float: right;
        margin-top: 0;
    }
}

.contact p a {
    display: block;
}