$white: hsl(0, 0, 100);
$brand-primary: hsb(198, 86, 41, 1);
$brand-secondary: hsb(188, 44, 83, 1);


// Text Colour
$text-color:  $white;
$text-muted:  $white;
$link-color:  $white;
$link-hover-color:  $white;

// Link underline colour
$link-underline: hsb(240, 36, 98, 1);